@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dorp</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Naam
        </dt>

        <dd>
            @ViewBag.Dorp.Naam
        </dd>
        <dt>
            Spelleider
        </dt>

        <dd>
            @ViewBag.Spelleider
        </dd>
        <dt>
            Bewoners  
        </dt>

        <dd>
            @foreach (var item in ViewBag.Dorp.Bewoners)
            {
                @item.Persoon.Naam
            }
  
        </dd>
        <dt>
            Rollen
        </dt>

        <dd>
            @foreach (var item in ViewBag.Dorp.Rollen)
            {
                @item.Persoon.Naam
            }

        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Dorp.DorpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
